:root{
    --color-black:#151313;
    --color-red:#FF0000;
    --color-gray:#605E5E;
    --color-white:#FFFFFF;
}

.boxsec{
    background-color: rgb(10,10,10);
    height: 100vh;
}

.boxsec .header{
    color: white;
    background-color: rgb(15,15,15);
    padding: 10px;
}

.detail{
    background-color: rgb(15, 15, 15);
    margin-top: 50px;
    padding: 20px	;
}
.detail p{
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--color-white);
}
.detail .card{
    display: flex;
}
.detail .card .poster{
    width: 200px;
    height: 250px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-image: url("../../Apps/Poster/across_the_spider-verse.jpg");
}
.detail .card ul{
    box-sizing: border-box;
    width: 50%;
    list-style: none;
    margin-left: 10px;
    color: var(--color-white);
}
.detail .card ul li{
    margin: 10px;
}