*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Mulish', sans-serif;
    background-color: #151313;
}
header{
    display: flex;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
}

header .logo{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
}
header .logo .bulat{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    display: grid;
    place-items: center;
}
header .logo .bulat i{
    font-size: 30px;
    color: white;
}
header .logo h5{
    font-size: 25px;
    margin-left: 5px;
    color: white;
}
header a{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}
header a:hover{
    opacity: 80%;
}

.fitur{
    position: fixed;
    background-color: rgb(10, 10, 10);
    height: 400px;
    width: 40px;
    top: 100px;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    display: grid;
    grid-template-rows: repeat(6, 50px);
    align-items: center;
    font-family: monospace;
    transition: 1s;
}
.fitur .profil{
    display: flex;
    align-items: center;
    overflow: hidden;
    color: white;
}
.fitur .profil h2{
    margin-left: 20px;
}
.fitur .profil i{
    font-size: 40px;
}
.fitur .identitas{
    border-bottom: 1px solid gray;
    color: rgb(177, 177, 177);
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fitur .identitas .nama,.fitur .identitas .email{
    display: flex;
    align-items: center;
}
.fitur .tombol{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    right: -25px;
    background-color: rgb(10, 10, 10);
}
.fitur .tombol:hover{
    cursor: pointer;
    opacity: 80%;
}
.fitur .tombol::after{
    content: "";
    background-color: white;
    position: absolute;
    width: 3px;
    height: 20px;
    right: 10px;
    top: 10px;
    box-shadow: 0 0 5px white;
}
.fitur .tombol::before{
    content: "";
    background-color: white;
    position: absolute;
    height: 3px;
    width: 20px;
    right: 10px;
    top: 10px;
    box-shadow: 0 0 5px white;
}
.fitur form{
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: black;
    position: relative;
    z-index: 2;
}
.fitur form button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
}
.fitur form button:hover{
    opacity: 70%;
}
.fitur form label{
    color: white;
    margin-left: 50px;
    font-size: 20px;
    text-shadow: 0 0 3px white;

}
.fitur .favorite button{
    color: white;
    background-color: red;
}
.fitur .populer button{
    color: red;
    background-color: yellow;
}
.fitur .history button{
    color: yellow;
    background-color: blue;
}
.muncul{
    width: 13%;
}

.container{
    background-color: rgb(10, 10, 10);
    width: 70%;
    margin: auto;
    box-shadow: 0 0 10px 1px black;
    border-radius: 20px;
}
.container .header{
    display: flex;
    background-color:rgb(19, 19, 19);
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 10px 5%;
    border-radius: 20px;
}
.container .header h1{
    color: white;
    text-shadow: 0 0 2px white;
    font-size: 15px;
}
.container .header .search input{
    height: 30px;
    border-radius: 15px 0 0 15px;
    outline: none;
    border: none;
    padding: 0 15px;
}
.container .header .search button{
    width: 30px;
    height: 30px;
    background-color: lawngreen;
    color: black;
    text-shadow: 0 0 5px black;
    border: none;
}


.container .list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-auto-rows: 300px;
    align-items: center;
    justify-items: center;
}
.container .list .card{
    width: 150px;
    background-color: rgb(15, 15, 15);
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    padding: 3px;
    font-family: sans-serif;
}
.container .list .card .img{
    height: 200px;
    background-size: cover;
    border-radius: 10px 10px 0 0 ;
    position: relative;
    background-position: center;
}
.container .list .card .img p{
    color: white;
    left: 50%;
    position: absolute;
    bottom: 10px;
    text-shadow: 0 0 10px black;
    transform: translateX(-50%);
    text-align: center;
}
.container .list .card button{
    width: 100%;
    height: 30px;
    border-radius: 0 0 10px 10px;
    margin-top: 3px;
    border: none;
    background-color: lawngreen;
}
.container .list .card button:hover{
    opacity: 80%;
    cursor: pointer;
    text-shadow: 0 0 5px black;
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.show button{
    background-color: var(--color-red);
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
    text-shadow: 0 0 10px white;
}
.show button:hover{
    background-color: lawngreen;
    color: black;
    cursor: pointer;
}