:root{
	--color-black:#151313;
	--color-red:#FF0000;
	--color-gray:#605E5E;
	--color-white:#FFFFFF;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Mulish', sans-serif;
}
.container{
	background-color: var(--color-black);
	height: 100vh;
}
.back{
	display: flex;
	background-color:  rgb(15, 15, 15);
	align-items: center;
	padding: 5px;
}
.back:hover .txt{
	color: white;
	display: block;
	cursor: pointer;
	text-shadow: 0 0 5px white;
}
.back a{
	color: white;
	font-size: 30px;
}
.back .txt{
	display: none;
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
}
.pemutar{
	display: flex;
}
.pemutar video{
	width: 80%;
	background-color: black;
	height: 70vh;
}
.pemutar .tranding{
	width: 20%;
	height: 70vh;
	background-color: rgb(10, 10, 10);
	color: var(--color-white);
}
.pemutar .tranding h5{
	text-align: center;
	padding: 10px;
}
.button{
	background-color: rgb(15, 15, 15);
	color: var(--color-white);
	display: flex;
}
.button button{
	background-color: rgb(15, 15, 15);
	margin: 3px 10px;
	border: none;
	cursor: pointer;
}
.button button i{
	color: var(--color-white);
	font-size: 20px;
}