:root{
	--color-black:#151313;
	--color-red:#FF0000;
	--color-gray:#605E5E;
	--color-white:#FFFFFF;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Mulish', sans-serif;
}
.container{
	background-color: var(--color-black);
}
.back{
	display: flex;
	background-color: rgb(10, 10, 10);
	align-items: center;
	padding: 5px;
}
.back:hover .txt{
	color: white;
	display: block;
	cursor: pointer;
	text-shadow: 0 0 5px white;
}
.back a{
	color: white;
	font-size: 30px;
}
.back .txt{
	display: none;
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
}
.pemutar{
	display: flex;
}
.pemutar video{
	width: 100%;
	background-color: black;
	height: 70vh;
}
.button{
	background-color: rgb(10, 10, 10);
	color: var(--color-white);
	display: flex;
}
.button button{
	background-color: rgb(15, 15, 15);
	margin: 3px 10px;
	border: none;
	cursor: pointer;
}
.button button i{
	color: var(--color-white);
	font-size: 20px;
}
.detail{
	background-color: rgb(15, 15, 15);
	margin-top: 50px;
	padding: 20px	;
}
.detail p{
	margin-bottom: 20px;
	font-size: 30px;
	color: var(--color-white);
}
.detail .card{
	display: flex;
}
.detail .card .poster{
	width: 200px;
	height: 250px;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
}
.detail .card ul{
	box-sizing: border-box;
	width: 50%;
	list-style: none;
	margin-left: 10px;
	color: var(--color-white);
}
.detail .card ul li{
	margin: 10px;
}